@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body {
	height: 100vh;
	background: linear-gradient(120deg, #4b014e, #2600ff);
	display: flex;
	align-items: center;
	justify-content: center;
}
.relogio {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 200px;
	width: 550px;
	background: transparent;
	border-radius: 3px;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}
.relogio div {
	height: 170px;
	width: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	background: rgba(5, 5, 5, 0.9);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
	border-radius: 7px;
	letter-spacing: 3px;
}
.relogio span {
	font-weight: bolder;
	font-size: 60px;

}
.relogio span.tempo {
	font-size: 24px;
}

/* INÍCIO RESPONSIVO ATÉ 500PX */
@media screen and (max-width: 500px) {
	.relogio {
		width: 350px;
		height: 120px;
	}
	.relogio div{
		margin: 5px;
		width: 100px;
		height: 100px;
	}
	.relogio span {
		font-size: 30px;
	}
	.relogio span.tempo {
		font-size: 14px;
	}
}
/* FIM RESPONSIVO ATÉ 425PX */

/* INÍCIO RESPONSIVO DE 500PX A 768PX */
@media screen and (min-width: 500px) and (max-width: 768px) {
	.relogio {
		width: 480px;
		height: 180px;
	}
	.relogio div{
		margin: 5px;
		width: 140px;
		height: 140px;
	}
	.relogio span {
		font-size: 46px;
	}
	.relogio span.tempo {
		font-size: 20px;
	}
}